#gallery{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 25px;
    min-width: 320px;
}

#gallery-bg{
    z-index: -1;
    content: "";
    position: fixed;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    background-image: url('https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

#gallery-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-evenly;
    align-items: center;
    width: 75%;
    margin: 30px auto 0 auto;
    background-color: rgba(152, 103, 216, 0.75);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px 5px black;
    background: repeating-linear-gradient(
        15deg,
        rgba(54, 4, 121, 0.75),
        rgba(152, 103, 216, 0.75) 10px,
        rgba(54, 4, 121, 0.75) 200px,
        rgba(54, 4, 121, 0.75) 40px
      );
}

#gallery-slide .img-container{
    width: 20%;
    margin: 2% 2%;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 15px; 
    cursor: pointer; 
    
}

.img-container img{
    box-shadow: 0px 0px 10px 4px black; 
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
    opacity: .8;
    transition: opacity .3s;
    
}

.img-container img:hover, .img-container img:active{
    opacity: 1;
}


.img-display-container{
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      top: 3vh;
      left: 2vw;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      /* background-color: white; */
      width: 40vw;
      /* height: 40vw; */
      min-width: 200px;
      max-width: 600px;
      /* min-height: 200px; */
      border-radius: 50px;
      /* background-color: rgba(0, 0, 0, .8);
      border: 1px solid white; */
      z-index: 5;
  }

.img-display{
    position: relative;
    border-radius: 50px;
}

#display-img-title{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid white;
    border-bottom: 0px transparent;
}

#display-img-title > p {
    color: white;
    margin: auto;
    padding-top: 5px;
    font-size: 1.5em;
    font-family: 'Oxygen', sans-serif;
    cursor: default;
    text-align: center;
    padding: 10px 30px;
}

@keyframes display-show{
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes display-hide{
    from {opacity: 1}
    to {opacity: 0}
}

.dark{
    filter: brightness(50%);
}

  .display-hide{
    animation: display-hide .25s ease-out both;
}

.display-show{
    animation: display-show .25s ease-out both;
}

.fa-times{
      position: absolute;
      top: 20px;
      right: 30px;
      color: rgba(255, 0, 0, 0.5);
      cursor: pointer;
      transition: .2s color;
      z-index: 5;
      text-shadow: 0px 2px 5px black;
}

.fa-home{
      color: gray;
      cursor: pointer;
      transition: .2s color;
      z-index: 5;
      text-shadow: 0px 2px 5px black;
      width: 100px;
}

.fa-times:hover, .fa-times:active{
    color: white;
}

#display-img{
    position: relative;
    width: 100%;
    min-width: 200px;
    background-color: white;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .8);
    border: 2px solid white;
}


@media only screen and (max-width: 900px) {
    #gallery-slide > .img-container{
        width: 45%;
    }
    .img-display-container{
        top: 3vh;
        width: 60vw;
        border-radius: 25px;
    }
    #display-img{
        border-radius: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .fa-times{
        position: absolute;
        top: 5px;
        right: 5px;
        color: rgba(255, 0, 0, 0.5);
        font-size: .8em;
        cursor: pointer;
        transition: .2s color;
        z-index: 5;
        text-shadow: 0px 2px 5px black;
    }

    #gallery-slide > .img-container{
        width: 45%;
    }

    .img-display-container{
        top: 7.5vh;
        width: 70vw;
    }
}

.deactivate:hover, .deactivate:active{
    color: white;
    border-left: transparent;
    border-right: transparent;
    background-color: inherit;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid transparent;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    cursor: default;
}

.dropdown-deactivate:hover, .dropdown-deactivate.active{
    color: white;
    border-left: transparent;
    border-right: transparent;
    background-color: inherit;
    border-left: 1px solid rgba(255, 255, 255, .5);
    border-right: 0px;
    border-bottom-left-radius: 30px;
    cursor: default;
}

.logo-deactivate:hover, .logo-deactivate:active{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}