#gallery{
    /* position: relative;
    background-image: url('https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 25px;
    min-width: 320px;
}

#gallery-bg{
    z-index: -1;
    content: "";
    position: fixed;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    background-image: url('https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80');
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}

#gallery-slide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: stretch;
    width: 75%;
    margin: 30px auto 0 auto;
    background-color: rgba(152, 103, 216, 0.75);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 15px 5px black;
    background: repeating-linear-gradient(
        15deg,
        rgba(54, 4, 121, 0.75),
        rgba(152, 103, 216, 0.75) 10px,
        rgba(54, 4, 121, 0.75) 200px,
        rgba(54, 4, 121, 0.75) 40px
      );
}

#gallery-slide .img-container{
    width: 20%;
    margin: 2% 2%;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 15px; 
    cursor: pointer;   
}

.img-container img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    opacity: .8;
    transition: opacity .3s;
    box-shadow: 0px 0px 10px 4px black;
}

.img-container img:hover, .img-container img:active{
    opacity: 1;
}


.img-display{
      position: fixed;
      top: 9vh;
      left: 2vw;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      /* background-color: white; */
      width: 50vw;
      /* height: 40vw; */
      min-width: 200px;
      /* min-height: 200px; */
      border-radius: 50px;
      /* background-color: rgba(0, 0, 0, .8);
      border: 1px solid white; */
      z-index: 5;
  }

  @keyframes display-show{
      from {opacity: 0}
      to {opacity: 1}
  }

  @keyframes display-hide{
    from {opacity: 1}
    to {opacity: 0}
}

.dark{
    filter: brightness(50%);
}

  .display-hide{
    animation: display-hide .25s ease-out both;
}

.display-show{
    animation: display-show .25s ease-out both;
}

.fa-times{
      position: absolute;
      top: 20px;
      right: 30px;
      color: rgba(255, 0, 0, 0.5);
      cursor: pointer;
      transition: .2s color;
      z-index: 5;
      text-shadow: 0px 2px 5px black;
}

.fa-home{
      color: gray;
      cursor: pointer;
      transition: .2s color;
      z-index: 5;
      text-shadow: 0px 2px 5px black;
      width: 100px;
}

  .fa-times:hover, .fa-times:active{
      color: white;
  }

  #display-img{
      position: relative;
      /* margin: 2%; */
      width: 100%;
      min-width: 200px;
      background-color: white;
      /* border: 1px solid rgba(100, 100, 100, .5); */
      border-radius: 50px;
      background-color: rgba(0, 0, 0, .8);
      border: 2px solid white;
  }


  @media only screen and (max-width: 900px) {
    #gallery-slide > .img-container{
        width: 45%;
    }
    .img-display{
        top: 5vh;
        width: 80vw;
        border-radius: 25px;
    }
    #display-img{
        border-radius: 25px;
    }
}
  @media only screen and (max-width: 600px) {
    #gallery-slide > .img-container{
        width: 45%;
    }
    .img-display{
        top: 15vh;
        width: 90vw;
    }
}