

html{
}

*{
    margin: 0;
}
body{
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* min-height: 100vh;
    min-width: 100vw; */
    /* overflow-y: hidden;*/
    overflow-x: hidden;
}


.scene{
    position: absolute;
    width: 100vw;
    /* height: 100%; */
    min-height: 100vh;
    animation-fill-mode: forwards;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -3px -1px 30px 30px rgba(0,0,0,0.75);
    /* top: 0;
    left: 0; */
}

#scene1{
    /* background-attachment: fixed; */
    /* background-image: url('https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1073&q=80'); */
    /* background-image: linear-gradient(rgba(50, 50, 200, .3), rgba(100, 50, 50, .4)), url('hes.unsplash.com/photo--c84b754b2c84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80'); */
}



#scene2{
    min-height: 500px;
    height: 100%;
    background-image: url('https://www.inmatrix.com/skins/background/Default_Nav[1920x1080].png');
    background-size: 100% 100%;
}



#scene3{
    position: relative;
    min-height: 100vh;
    height: 100%;
    box-shadow: inset 0px 0px 50px 1px rgba(255, 255, 255, 0.685);
    /* background-image: linear-gradient(rgba(50, 50, 200, .3), rgba(100, 50, 50, .4)), url('hes.unsplash.com/photo--c84b754b2c84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80'); */
    background-image: linear-gradient(-160deg, rgba(50, 50, 200, .5), transparent, rgba(187, 202, 52, 0.5)), url('https://images.unsplash.com/photo-1520758594221-872948699332?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    /* background-attachment: fixed; */
}

#scene3::before{
    position: relative;
    content: "";
    background-image: url('https://www.inmatrix.com/skins/background/Default_Nav[1920x1080].png');
    min-height: 100vh;
    width: 600px;
    height: 600px;
}

#door{
    position: fixed;
    top: -110vh;
    width: 110vw;
    height: 100vh;
    background-image: linear-gradient(rgba(44, 44, 250, 0.3), rgba(212, 50, 50, 0.3)), url('https://images.unsplash.com/photo-1518197529634-614c44a6e6a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-position-x: -7vw;
    background-size: cover;

    /* background-image: url('https://images.unsplash.com/photo-1577451581742-98bc6c0ea83e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80'); */
}

 @keyframes transition-up{
    from {top: 0vh}
    to   {top: -110vh}
}

@keyframes transition-down{
    from {top: -110vh}
    to   {top: 0vh}
}


@keyframes shake {
    10%, 90% {
        transform: translateX(2px);
      }
      
      20%, 80% {
        transform: translateX(-2px);
      }
    
      30%, 50%, 70% {
        transform: translateX(4px);
      }
    
      40%, 60% {
        transform: translateX(-4px);
      }
}

@keyframes shake-less {
    10%, 90% {
      transform: translateX(1px);
    }
    
    20%, 80% {
      transform: translateX(-1px);
    }
  
    30%, 50%, 70% {
      transform: translateX(2px);
    }
  
    40%, 60% {
      transform: translateX(-2px);
    }
}

.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translateX(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.shake-less{
    animation: shake-less 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translateX(0);
    backface-visibility: hidden;
    perspective: 1000px;
} 


.hide{
    transform: translateX(900vh);
    display: none;
}

.transition-up{
    animation: transition-up 1s cubic-bezier(0.25, 0.5, 0.8, 1) both, shake-less .82s cubic-bezier(.36,.07,.19,.97) both;
}

.transition-down{
    animation: transition-down 1s cubic-bezier(0.25, 0.8, 0.5, 1) both, shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



@media screen and (max-width: 640px){
    .up-btn{
        top: 1%;
        left: 40%;
    }
    .dn-btn{
        top: unset;
        bottom: 1%;
        left: 40%;
    }
}

.body-scroll{
    overflow-y: scroll;
}

